@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "AddReview";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Yeni Kitap Ekleme Sayfası</h3>
</div>
@using (Html.BeginForm("AddPortfolio", "Portfolio", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                
                <form class="forms-sample">
                    @*<div class="form-group">
                        <label>ID</label>
                        @Html.HiddenFor(x => x.ReviewID, new { @class = "form-control" })
        </div>*@
                    <div class="form-group">
                        <label>Kitap Adı</label>
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                    <div class="form-group">
                        <label>Görsel 1</label>
                        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.ImageUrl)
                    </div>
                    <div class="form-group">
                        <label>Görsel 2</label>
                        @Html.TextBoxFor(x => x.ImageUrl2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.ImageUrl2)

                    </div>
                    <div class="form-group">
                        <label>Kitap Url</label>
                        @Html.TextBoxFor(x => x.BookUrl, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.BookUrl)
                    </div>
                    <div class="form-group">
                        <label>Sayfa</label>
                        @Html.TextBoxFor(x => x.Sayfa, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Sayfa)
                    </div>
                    <div class="form-group">
                        <label>Konu</label>
                        @Html.TextBoxFor(x => x.Konu, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Konu)
                    </div>
                    <div class="form-group">
                        <label>Tamamlanma Oranı</label>
                        @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Value)
                    </div>
                    
                    @*<div class="form-group">
            <label>Açıklama</label>
            @Html.TextAreaFor(x => x.Description, 10, 3, new { @class = "form-control" })
        </div>*@

                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button class="btn btn-dark">İptal</button>
                </form>
            </div>
        </div>
    </div>
}

